@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

body {
  background: #343541;
  margin: 0;
  padding: 0;
  font-family: 'Alkatra', sans-serif;
}

header {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align:center;
  border-bottom: 1px solid #aaa;
}

.response {
  margin-bottom: 75px;
}
#default {
  background: #40414F;
  color: white;
  width: 50%;
  max-width: 300px;
  padding: 20px 0 15px;
  margin: 50% auto 0;
  text-align: center;
  border-radius: 5px;
}
#default > div {
  text-align: center;
  padding-bottom: 20px;
}

/*for chatbot*/
span {
  display: inline-block;
  background-color: #40414F;
  color: #fff;
  padding: 5px 10px;
  max-width: 60%;
  margin-left: 10px;
  margin-top: -10px;
  border-radius: 5px;
  line-height: 20px;
}

/*for human*/
.human_response {
  display: inline-block;
  background-color:#005C4B;
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: -10px;
  max-width: 60%;
  border-radius: 5px;
  line-height: 20px;
  float: right;
}

p::after {
  content: "";
  display: table;
  border-collapse: collapse;
  clear: both;
}
/* for time */
.time {
  display: inline-block;
  font-size: 10px;
  float: right;
  transform: translate(5px, 6px);
}

.field {
  position: fixed;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: auto 50px 50px;
  grid-column-gap: 5px;
  align-items: center;
  width: 100%;
  background: #343541;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  /*border-top: 1px solid #888;*/
  box-shadow: 0 0 10px -8px white;
}

#msg {
  font-family: inherit;
  background: #40414F;
  height: 40px;
  padding: 0 20px;
  border: 0;
  outline: 0;
  border-radius: 30px;
  font-size: 16px;
  color: #fff;
  caret-color: red;
}

#msg::placeholder {
  color: gray;
  font-size: 20px;
  font-weight: 100;
  position: relative;
  top: 2.3px;
}
#submit {
  display: inline-block;
  background: #005C4B;
  width: 45px;
  height: 45px;
  line-height: 100%;
  text-align: center;
  border-radius: 50%;
  border: 0;
}

#voice {
  display: inline-block;
  background: #005C4B;
  width: 45px;
  height: 45px;
  line-height: 100%;
  text-align: center;
  border-radius: 50%;
  border: 0;
}

